/* classes */
.illustration-contents {
    /* justify-content: center; */
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* border: 2px solid pink; */
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    row-gap: 40px;
    /* border: 2px solid pink; */
}

.gallery-image {
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-image:hover {
    scale: 110%;
}